body, html{
    margin: 0;
}

.nav-container{
    
    background-color: black;
    margin: 0;
}

.img-logo{
    margin: 0;
    background-color: black;
}

.nav-titles {
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: #b40019;
    margin: 0;
}

.centralDiv{
 margin: 0;
   display: flex;
   
}

.centralImg{
   flex: 80%;
   min-width: 80%;
}

.teaser1{
    flex: 10%;
}

.teaser2{
    flex: 10%;
}

footer{
    
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  height: auto;

}