body, html{
    margin: 0;
}

.nav-container{
    
    background-color: black;
    margin: 0;
}

.img-logo{
    margin: 0;
    background-color: black;
}

.nav-titles {
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: #b40019;
    margin: 0;
}

.centralDiv{
    padding: 0;
    display: flex; 
    flex-direction: column;
  justify-content: center;
  align-items: center;
}


.img-container1{
    padding: 0;
   max-width: 80%;
   opacity: 0.7;
}



.discount-text{
color: #b40019;
;
}

.img-container2{
    padding: 0;
   max-width: 80%;
}



.carousel-inner img {
    width: 100%;
    height: 100%;
  }


footer{
 
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  height: auto;

}